.container.benefits-container {
  @media screen and (max-width: 767.98px) {
    padding-top: 40px;
    background-image: linear-gradient(
      to bottom,
      var(--primary-text-color) 460px,
      var(--text-color-theme-dark) 269px
    );
  }

  @media screen and (min-width: 768px) and (max-width: 1679.98px) {
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(
      to bottom,
      var(--primary-text-color) 226px,
      var(--text-color-theme-dark) 226px
    );
  }

  @media screen and (min-width: 1680px) {
    // padding-top: 40px;
    padding-bottom: 40px;
    background-image: linear-gradient(
      to bottom,
      var(--primary-text-color) 199px,
      var(--text-color-theme-dark) 183px
    );
  }
}

.benefits__title {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: var(--text-color-theme-dark);

  @media screen and (max-width: 767.98px) {
    max-width: 180px;
  }

  @media screen and (min-width: 768px) and (max-width: 1679.98px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1680px) {
    display: none;
  }
}

.benefits__list {
  list-style: none;
  counter-reset: item-counter;
  background-color: var(--text-color-theme-dark);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (max-width: 767.98px) {
    padding: 20px 24px 30px 20px;
    min-height: 646px;
  }

  @media screen and (min-width: 768px) and (max-width: 1679.98px) {
    padding: 40px 112px 40px 92px;
    display: grid;
    grid-template-columns: 236px 216px;
    grid-column-gap: 32px;
    min-height: 381px;
  }

  @media screen and (min-width: 1680px) {
    padding: 60px 32px 60px 140px;
    display: grid;
    grid-template-columns: 356px 356px 356px;
    grid-column-gap: 204px;
    min-height: 382px;
  }
}

.benefits__item {
  position: relative;
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 1.43;
  letter-spacing: 0.08em;

  color: var(--primary-text-color);

  @media screen and (max-width: 767.98px) {
    font-size: 14px;
    &::after {
      top: 9px;
      width: 20px;
      height: 2px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1679.98px) {
    font-size: 14px;
    &::after {
      top: 9px;
      width: 20px;
      height: 2px;
    }
  }

  @media screen and (min-width: 1680px) {
    font-size: 20px;
    &::after {
      top: 13px;
      width: 22px;
      height: 3px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0px;
    background: var(--accent-color);
  }

  &::before {
    color: var(--accent-color);
    counter-increment: item-counter;
    white-space: pre;
    content: '     0' counter(item-counter) '\0a';
  }
}
