body, 
button,
input,
textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #E5E5E5;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid blue;

    @media screen and(min-width: 480px) {
        max-width: 480px;
    }

    @media screen and(min-width: 768px) {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
        
    }

    @media screen and(min-width: 1680px) {
        width: 1680px;
        padding-left: 16px;
        padding-right: 16px;
    }

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0000);
  overflow: hidden;
}

:root {
  // тёмный текст
  --primary-text-color: #111518;

  // серый светлый текст (а также border в about и в guarantee)
  --secondary-light-text-color: #b9b9b9;

  // серый тёмный текст (в guarantee, текст в reviews)
  --secondary-dark-text-color: #3d3d3d;

  // белый текст
  --text-color-theme-dark: #ffffff;

  // оранжевый акцент
  --accent-color: #ff6b09;

  // синяя иконка соц.сети в reviews
  --social-color: #436eab;

  // серый тёмный фон в guarantee
  --background-dark: #f1f1f1;

  // чёрный бургер в мобильном меню
  --burger-color: #000000;
}
