.section-contacts {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 480px;
    text-align: center;
    background-image: url(../images/mobilecontact1.png);
    background-color: var(--primary-text-color);
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/mobilecontact@2x.png);
    }

    @media screen and(min-width: 480px) {
        background-position: 50%;

    }

    @media screen and(min-width: 768px) {
        max-width: 768px;
        background-image: url(../images/tabletcontact1.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/tabletcontact@2x.png);
        }
    }

    @media screen and(min-width: 1680px) {
        max-width: 1680px;
        background-image: url(../images/desctopcontact1.png);
        padding-top: 80px;
        padding-bottom: 80px;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/desctopcontact@2x.png);
        }
    }
}

.contacts__title {
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0.03em;
    color: var(--text-color-theme-dark);

    @media screen and(min-width: 768px) {
        font-size: 26px;
        margin-bottom: 40px;
        padding-left: 25px;
        padding-right: 25px;
    }

    @media screen and(min-width: 1680px) {
        font-size: 46px;
        padding-left: 280px;
        padding-right: 280px;
    }
}

.contacts-form__title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    color: var(--text-color-theme-dark);

    @media screen and(min-width: 768px) {
        font-size: 14px;
        margin-bottom: 24px;
        padding-left: 143px;
        padding-right: 143px;
    }

    @media screen and(min-width: 1680px) {
        font-size: 30px;
        margin-bottom: 60px;
        padding-left: 280px;
        padding-right: 280px;
    }
}

.contacts__title-wordcolor {
    color: var(--accent-color);
}

.contacts-form__input {
    display: block;
    height: 48px;
    width: 100%;
    padding: 15px 10px 15px 28px;
    border: 1px solid var(--text-color-theme-dark);
    background-color: transparent;
    color: var(--text-color-theme-dark);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;

    &::placeholder {
        color: var(--text-color-theme-dark);
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.08em;
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
        background-color: rgba(255, 107, 9, 0.3);
    }

    @media screen and(min-width:480px) {
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and(min-width:768px) {
        width: 335px;
        padding-left: 24px;
    }

    @media screen and(min-width:1680px) {
        width: 528px;
        height: 70px;
        font-size: 20px;
        line-height: 1.2;
        padding: 23px 10px 23px 24px;
    }

}

.contacts-form__inputname {
    margin-bottom: 20px;

    @media screen and(min-width:1680px) {
        margin-bottom: 32px;
    }
}

.contacts-form__inputtel {
    margin-bottom: 40px;

    @media screen and(min-width:768px) {
        margin-bottom: 32px;
    }

    @media screen and(min-width:1680px) {
        margin-bottom: 40px;
    }
}

.contacts-form__button {
    display: block;
    border: none;
    padding: 14px 10px;
    width: 100%;
    height: 48px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--text-color-theme-dark);
    background-color: var(--accent-color);
    cursor: pointer;

    @media screen and(min-width:480px) {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and(min-width:768px) {
        width: 335px;
    }

    @media screen and(min-width:1680px) {
        width: 528px;
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.14em;
        padding: 26px 10px;
        height: 70px;
    }
}