.guarantee__container {
  @media screen and (max-width: 767px) {
  padding-right: 0;
  padding-left: 0;
  background-color: var(--background-dark);
  }
  @media screen and (min-width: 768px) {
    padding-right: 17px;
    padding-left: 17px;
  }
  @media screen and (min-width: 1680px) {
    padding-right: 1px;
    padding-left: 1px;
  }
}
.guarantee__title {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 37px;
  background-color: var(--text-color-theme-dark);
  color: var(--primary-text-color);
  
  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1680px) {
    font-size: 46px;
  }
}
.guarantee__list {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  padding: 40px 20px;

  @media screen and (min-width: 768px) {
    width: 704px;
    padding: 32px 58px 32px 87px;
    background-color: var(--background-dark);
  }

  @media screen and (min-width: 1680px) {
    width: 1648px;
    padding: 60px 279px;
  }
}
.guarantee__item {
  font-style: normal;
  font-size: 12px;
  line-height: 1.67;
  padding-left: 20px;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 520px;
  }
  @media screen and (min-width: 1680px) {
    width: 1038px;
    font-size: 20px;
    line-height: 1.4;
  }
  
  
  &::before {
    position: absolute;
    display: block;
    content: url('../images/campfire.svg');
    left: -7px;
    top: 0px;
    width: 15px;
    height: 20px;

    @media screen and (min-width: 1680px) {
      content: url('../images/campfiredesktop.svg');
      left: -10px;
      top: 0px;
      width: 22px;
      height: 30px;
    }
  }
  
  &:not(:last-child) {
    padding-bottom: 24px;
    border-left: 1px dashed #B9B9B9;
  }
}
.guarantee__star {
  color: var(--accent-color);
}