.hero-section { 
    position: relative;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: var(--text-color-theme-dark);

    @media screen and (min-width: 320px), (max-width: 479.98px) {
        background-image: url(../images/hero-tablet-bg.svg);
        background-repeat: no-repeat;
        box-shadow: background-image -5px 21px 26px rgba(0, 0, 0, 0.04);
        background-position: -60px 0px;
        }

    @media screen and (min-width: 480px) {
        background-image: url(../images/hero-tablet-bg.svg);
        background-position: 50%;
        background-position: -20px 0px;
        }

    @media screen and (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 85px;
        background-image: url(../images/hero-tablet-bg.svg);
        background-position: 0px -80px;
        }
    
    @media screen and (min-width: 1680px) {
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url(../images/hero-desktop-bg.svg);
        background-position: 0px -120px;
        } 
}

.hero__title {
    width: 280px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 34px;
        width: 330px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (min-width: 1680px) {
        width: 560px;
        margin-left: auto;
        margin-right: 247px;
        margin-top: 40px;
        font-size: 58px;
        line-height: 75px;
    }
}

.hero__guarantee {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
    
    @media screen and (min-width: 768px) {
            width: 260px;
            position: relative;
            margin-left: 0;
            margin-right: 0;
        }

    @media screen and (min-width: 1680px) {
        width: 560px;
        font-size: 20px;
        line-height: 33px;
    }

}

.hero__span {
    display: block;
    font-weight: 500;
    color: var(--secondary-light-text-color);
}

.hero__points {
    display: block;
    color: var(--accent-color);

    @media screen and (min-width: 480px) {
        display: inline;
        }
}

.hero__btn {
    width: 280px;
    display: flex;
    padding: 14px 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #ff6500;
    }

    @media screen and (min-width: 768px) {
        width: 260px;
        padding: 14px 0px;
        justify-content: center;
        font-weight: 600;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 86px;
        }
    
    @media screen and (min-width: 1680px) {
        width: 354px;
        font-size: 14px;
        line-height: 17px;
        padding: 27px 70px;
        margin-bottom: 264px;
    }
}

.hero__image {
    width: 208px;
    height: 178px;
    left: 56px;
    bottom: 344px;
    margin-left: auto;
    margin-right: auto;

    
    @media screen and (min-width: 768px) {
        position: absolute;
        width: 375.75px;
        height: 321.09px;
        left: 360px;
        top: 85px;

    }

    @media screen and (min-width: 1680px) {
        position: absolute;
        left: 807px;
        bottom: 0px;
        width: 842px;
        height: 720px;

    }
}
