.hero { 
    padding-top: 40px;
    padding-bottom: 80px;
    @media screen and (min-width: 768px) {
            width: 768px;
            padding-top: 80px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
            padding-top: 40px;
            padding-bottom: 80px;
        }
}
.hero__title {
    width: 280px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #111518;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 34px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 58px;
        line-height: 75px;
    }
}

.hero__info {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: #111518;
    
    @media screen and (min-width: 1200px) {
        font-size: 20px;
        line-height: 33px;
    }

}

.hero__span {
    font-weight: 500;
    color: #B9B9B9;
}

.hero__points {
    color: #FF6B09;
}

.hero__btn {
    width: 280px;
    display: flex;
    padding: 14px 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
    background: #FF6B09;

    
    @media screen and (min-width: 1200px) {
        font-size: 14px;
        line-height: 17px;
        padding: 27px 70px;
    }
}

.hero__image {
    width: 208px;
    height: 178px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/hero_mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media screen and (min-width: 768px) {
        width: 376px;
        height: 270px;
        background-image: url('../images/hero_tablet.png');
    }

    @media screen and (min-width: 1200px) {
        width: 842px;
        height: 602px;
        background-image: url('../images/hero.png');
    }
}

.hero__list {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    
    padding: 0;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
    }
}

.hero__list-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.08em;
    color: #111518;

    &:not(:last-child) {
        margin-bottom: 31px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 20px;
        line-height: 33px;
        }

}

