
.hero-section { 
    position: relative;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--text-color-theme-dark);

    @media screen and (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 20px;
        }
    
    @media screen and (min-width: 1680px) {
        padding-top: 40px;
        padding-bottom: 40px;
        } 
}

.hero-container { 
    position: relative;
    
    @media screen and (min-width: 320px), (max-width: 479.98px) {
        height: 525px;
        background-image: url(../images/hero-tablet-bg.svg);
        background-repeat: no-repeat;
        box-shadow: background-image -5px 21px 26px rgba(0, 0, 0, 0.04);
        background-position: -60px -40px;
        }

    @media screen and (min-width: 480px) {
        width: 480px;
        background-image: url(../images/hero-tablet-bg.svg);
        background-position: 50%;
        background-position: -20px -40px;
        }

    @media screen and (min-width: 768px) {

        width: 768px;
        padding-top: 20px;
        padding-bottom: 85px;
        background-image: url(../images/hero-tablet-bg.svg);
        background-position: 0px -200px;
        }
    
    @media screen and (min-width: 1680px) {
        width: 1680px;
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url(../images/hero-desktop-bg.svg);
        background-position: 0px -140px;
        } 
}
.hero__title {
    width: 280px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 34px;
        width: 330px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (min-width: 1680px) {
        width: 560px;
        margin-right: 247px;
        margin-top: 40px;
        font-size: 58px;
        line-height: 75px;
    }
}

.hero__guarantee {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
    
    @media screen and (min-width: 768px) {
            width: 260px;
            position: relative;
            margin-left: 0;
            margin-right: 0;
        }

    @media screen and (min-width: 1680px) {
        width: 560px;
        font-size: 20px;
        line-height: 33px;
    }

}

.hero__span {
    display: block;
    font-weight: 500;
    color: var(--secondary-light-text-color);
}

.hero__points {
    display: block;
    color: var(--accent-color);

    @media screen and (min-width: 480px) {
        display: inline;
        }

}

.hero__btn {
    width: 280px;
    display: flex;
    padding: 14px 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    scroll-behavior: smooth;

    &:hover,
    &:focus {
        background-color: #ff6500;
    }

    @media screen and (min-width: 768px) {
        width: 260px;
        padding: 14px 0px;
        justify-content: center;
        font-weight: 600;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 86px;
        }
    
    @media screen and (min-width: 1680px) {
        width: 354px;
        font-size: 14px;
        line-height: 17px;
        padding: 27px 70px;
        margin-bottom: 264px;
    }
}


.hero-picture {
    @media screen and (min-width: 320px), (max-width:767.98px) {
        display: none;
        }

    @media screen and (min-width: 768px) {
        display: block;
        }
    
    @media screen and (min-width: 1680px) {
        display: block;
    }

}

.hero__image--non-animated {
        display: block;
        width: 208px;
        height: 178px;
        left: 56px;
        bottom: 344px;
        margin-left: auto;
        margin-right: auto;
    
        @media screen and (min-width: 768px) {
            display: none;
        }
    
        @media screen and (min-width: 1680px) {
            display: none;
        }
}

.hero__image--transparent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 208px;
    height: 149.27px;
    left: 0;
    top: 18px;

    @media screen and (min-width: 768px) {
        position: absolute;
        width: 375.75px;
        height: 269.27px;
        left: 360px;

        top: 85px;


    }

    @media screen and (min-width: 1680px) {
        position: absolute;
        width: 841.3px;
        height: 602.2px;
        left: 822.7px;
        top: 40px;
    }
}

.hero__image--animated {
    position: relative;
    
    width: 178px;
    height: 178px;
    left: 61px;
    top: -140px;
    animation: opacity-animation 7000ms infinite;

    @media screen and (min-width: 480px) {
        left: 141.16px;
        top: -140px;

    }
    
    @media screen and (min-width: 768px) {
        position: absolute;
        width: 321.11px;
        height: 321.09px;
        left: 396.26px;
        top: -18px;

    }

    @media screen and (min-width: 1680px) {
        position: absolute;
        left: 903.9px;
        top: 2px;
        width: 718.96px;
        height: 718.08px;

    }

    @keyframes opacity-animation {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
      }
}