#hero { 
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--text-color-theme-dark);
    
    @media screen and (min-width: 320px), (max-width: 480px) { 
        background-image: url(../images/hero-mobile-bg.svg);
        background-repeat: no-repeat;
        background-clip: content-box;
        box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
        background-position: 0px -280px;
        background-size: cover;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        background-image: url(../images/hero-tablet-bg.svg);
        box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
        background-position: 0px -80px;
        background-size: auto;
        }
    
    @media screen and (min-width: 1680px) {
        width: 1680px;
        padding-top: 40px;
        padding-bottom: 80px;

        background-image: url(../images/hero-desktop-bg.svg);
        box-shadow: -5px 21px 26px rgba(0, 0, 0, 0.04);
        background-position: 0px -100px;
        background-size: auto;
        } 
}
.hero__thumb {
    @media screen and (min-width: 768px) {
            display: flex;
            position: relative;
        }
}
.hero__title {
    width: 280px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 34px;
        width: 330px;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    }

    @media screen and (min-width: 1680px) {
        width: 560px;
        margin-left: auto;
        margin-right: 247px;
        margin-top: 40px;
        font-size: 58px;
        line-height: 75px;
    }
}

.hero__guarantee {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
    
    @media screen and (min-width: 768px) {
            width: 260px;
            position: relative;
            margin-left: 0;
            margin-right: 0;
        }

    @media screen and (min-width: 1680px) {
        width: 560px;
        font-size: 20px;
        line-height: 33px;
    }

}

.hero__span {
    font-weight: 500;
    color: var(--secondary-light-text-color);
}

.hero__points {
    color: var(--accent-color);
}

.hero__btn {
    width: 280px;
    display: flex;
    padding: 14px 48px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
    background: var(--accent-color);

    @media screen and (min-width: 768px) {
        width: 260px;
        padding: 14px 0px;
        justify-content: center;
        font-weight: 600;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 170px;
        }
    
    @media screen and (min-width: 1680px) {
        width: 354px;
        font-size: 14px;
        line-height: 17px;
        padding: 27px 70px;
        margin-bottom: 304px;
    }
}

.hero__image {
    width: 208px;
    height: 178px;
    left: 56px;
    top: 344px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
        position: absolute;
        width: 375.75px;
        height: 321.09px;
        left: 360px;
        top: 0px;
    }

    @media screen and (min-width: 1680px) {
        position: absolute;
        left: 807px;
        top: 0px;
        width: 842px;
        height: 720px;

    }
}

.hero__list {
    width: 280px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    @media screen and (min-width: 768px) {
        width: 700px;
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }

    @media screen and (min-width: 1680px) {
        width: 1570px;
        display: flex;
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;

    }
}

.hero__list-link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    

    &:not(:last-child) {
        margin-bottom: 31px;
    }

    @media screen and (min-width: 768px) {
        
        &:not(:last-child) {
                margin-bottom: 0px;
                margin-right: auto;
            }

    }

    @media screen and (min-width: 1680px) {
        &:not(:last-child) {
                margin-right: 112px;
            }
        }

}

.hero__list-text {
    z-index: 1;
    position: relative;
    width: 208px;
    margin-left: 12px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);

    @media screen and (min-width: 768px) {
        margin-left: 18px;
        width: 145px;
        font-size: 14px;
    }

    @media screen and (min-width: 1680px) {
        width: 330px;
        font-size: 20px;
        line-height: 33px;
        left: -37px;

    }
}

.hero__list-icon {
    position: relative;
    width: 60px;
    height: 60px;
    
    @media screen and (min-width: 1680px) {
        width: 100px;
        height: 100px;
    }
}
