.how__main_title {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
    font-size: 26px;
  }

  @media screen and (min-width: 1680px) {
    font-size: 46px;
    text-align: start;
    margin-bottom: 80px;
  }
}
.how__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: space-around;
  }

  @media screen and (min-width: 1680px) {    
    margin-left: -32px;
    margin-top: -32px;
  }
}
.how__card {
  flex-basis: calc(480px / 1 - 32px);

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(768px / 2 - 32px);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  @media screen and (min-width: 1680px) {
    flex-basis: calc(1680px / 3 - 32px);
    margin-left: 32px;
    margin-top: 10px;
  }
}
.how__wrapper {
  width: 280px;
  height: 280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 8px;
  background-color: var(--text-color-theme-dark);
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 336px;
    padding-top: 40px;
  }

  @media screen and (min-width: 1680px) {
    width: 528px;
    height: 492px;
    padding-top: 90px;
    padding-bottom: 91px;
  }

  &:hover {
    ::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -25px;
      margin-right: auto;
      margin-left: auto;
      width: 20px;
      height: 2px;
      background-color: var(--text-color-theme-dark);
    }
  }

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }

  &:hover,
  &:focus,
  &:hover .how__icon,
  &:focus .how__icon {
    fill: var(--text-color-theme-dark);
  }

  &:hover,
  &:focus,
  &:hover .how__card_title,
  &:focus .how__card_title {
    color: var(--text-color-theme-dark);
  }

  &:hover,
  &:focus,
  &:hover .how__description,
  &:focus .how__description {
    color: var(--text-color-theme-dark);
  }
}
.how__icon_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.how__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.how__card_title {
  margin-right: auto;
  margin-left: auto;
  max-width: 260px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 48px;
  }

  @media screen and (min-width: 1680px) {
    font-size: 20px;
    margin-bottom: 40px;
    max-width: none;
  }
}
.underline{
  position: relative;

  &::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: -25px;
      margin-right: auto;
      margin-left: auto;
      width: 20px;
      height: 2px;
      background-color: var(--accent-color);
    }
}
.how__description {
  margin-right: 4px;
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.08em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--secondary-light-text-color);

  @media screen and (min-width: 768px) {
    margin-right: 20px;
    margin-left: 20px;
  }
  @media screen and (min-width: 1680px) {
    font-size: 18px;
    line-height: 1.56;
    margin-right: 82px;
    margin-left: 82px;
  }
}
.border {

  @media screen and (max-width: 1678px) {
    margin-right: 15px;
    margin-left: 15px;
  }
}
.move {
  @media screen and (max-width: 1679px) {
    display: block;
  }  
}
.move_card {
  @media screen and (max-width: 1678px) {
    display: block;
  }
}
.move_text {
  @media screen and (min-width: 1680px) {
    display: block;
  }
}
.size {

  @media screen and (min-width: 768px) {
    margin-right: 25px;
    margin-left: 25px;
  }
}
.parts {
  
  @media screen and (min-width: 768px) {
    margin-right: 45px;
    margin-left: 45px;
  }
  @media screen and (max-width: 1678px) {
    margin-right: 45px;
    margin-left: 45px;
  }
}
.desktop {
  @media screen and (min-width: 1680px) {
  margin-right: 91px;
  margin-left: 91px;
  }
}