.backdrop2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  &.is-hidden2 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.backdrop2.is-hidden2 .modal-window2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
}

.modal-window2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 3px solid var(--primary-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window2__img {
  width: 550px;
  height: 700px;
}

.modal-window2__close-button {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: none;
  background-color: transparent;
  line-height: 0;
  outline: none;
  cursor: pointer;
}

// .modal-window2__close-icon {
//   fill: #000;
// }
