.program {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--primary-text-color);

    @media screen and (min-width: 480px){
        margin-left: auto;
        margin-right: auto;
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1680px) {
        width: 1680px;
        overflow: hidden;
    }



}
  
  .program__container {
      position: relative;
  
      &::after {
          content: '';
          width: 150px;
          height: 137px;
          background-image: url(../images/mainpic_mobile.png);
          position: absolute;
          bottom: -30px;
          right: 0;
      }
      @media screen and (min-width: 480px) {
          &::after {
              content: '';
              width: 335px;
              height: 200px;
              background-image: url(../images/mainpic_tablet.png);
              position: absolute;
              bottom: -20px;
              right: 0;
            }
        }
  
         @media screen and (min-width: 1680px) {
          &::after {
              content: '';
              width: 600px;
              height: 250px;
              background-image: url(../images/mainpic_desktop.png);
              position: absolute;
              bottom: -40px;
              left: -20px;
              
            }
        }
  
        
  
        
  }
  
  .program__title {
  
      font-weight: 800;
      font-size: 20px;
      line-height: 1.3;
    
    
      text-align: center;
      letter-spacing: 0.03em;
    
      color: var(--text-color-theme-dark);
    
      margin-bottom: 40px;
    
      @media screen and (min-width: 768px) {
          text-align: left;
          font-size: 26px;
      }
    
      @media screen and (min-width: 1680px) {
         font-size: 46px; 
         margin-bottom: 80px;
      }
    }
  
    .program__list {
        position: relative;
      
        &::before {
          content: '';
          position: absolute;
          height: 94%;
          width: 1px;
          top: 12px;
          left: 0;
          background-color: white;
      }
  
      @media screen and (min-width: 768px) {
          margin-left: 70px;
          
  
          &::before {
              height: 91%;
          }
      }
  
      @media screen and (min-width: 1680px) {
          display: flex;
          position: static;
          
          &::before {
              height: 1px;
              width: 100%;
              top: 105px;
              background-color: var(--text-color-theme-dark);
          }
      }
  
      
    }
  
    .program__item {
        position: relative;
        padding-left: 20px;
        
        &:not(:last-child) {
          margin-bottom: 40px;
      }
  
      @media screen and (min-width: 768px) {
          padding-left: 107px;
      }
      @media screen and (min-width: 1680px) {
          padding-left: 0;
          &:not(:last-child) {
              margin-right: 40px;
          }
      }
    }
  
    .program__title--semester {
  
      font-weight: 700;
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      
      color: var(--text-color-theme-dark);
    
      margin-bottom: 4px;
      
    
      &::before {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          left: -5px;
          top: 8px;
          background-color: var(--accent-color);
          z-index: 1;
      }
  
  
  
      @media screen and (min-width: 1680px) {
  
          font-size: 30px;
          
          &::before {
              left: 0;
              top: -42px;
              width: 16px;
              height: 16px;
          }   
          
          
          
      }
  
    }
  
    .program__item--lesson {
  
        max-width: 120px;
        height: auto;
  
        &:not(:last-child) {
            margin-bottom: 4px;
        }
  
        @media screen and (min-width: 768px) {
          &:not(:last-child) {
              margin-right: 20px;
          }
      }
  
      @media screen and (min-width: 1680px) {
  
          max-width: 220px;
          &:not(:last-child) {
              margin-bottom: 24px;
              margin-right: 0;
  
          }
      }
    }
  
    .program__title--plan {
    
          font-weight: 700;
          font-size: 12px;
          line-height: 1.6;
          display: flex;
          align-items: center;
          letter-spacing: 0.08em;
      
          color: var(--accent-color);
          
          margin-bottom: 4px;
          &.last {
              color: transparent;
          }
  
          @media screen and (min-width: 1680px) {
              font-size: 20px;
              margin-bottom: 8px;
              &.last {
                  color: transparent;
                  margin-bottom: 6px;
              }
  
          }
  
          &::before {
              content:'';
              background-color: var(--accent-color);
              width: 12px;
              height: 1px;
              margin-right: 7px;
              
          }
          
    }
  
    .program__text {
          font-size: 12px;
          line-height: 1.6;
          letter-spacing: 0.08em;
      
          color: var(--secondary-light-text-color);
      
          opacity: 0.5;
          position: relative;
  
          @media screen and (min-width: 1680px) {
              font-size: 18px;
          }
          
    }
  
    .program__gramvocab {
        @media screen and (min-width: 768px) {
            display: flex;
        }
  
        @media screen and (min-width: 1680px) {
            flex-direction: column;
        }
    }
  
    