.problems {
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
      to bottom,
      var(--primary-text-color) 545px,
      var(--text-color-theme-dark) 197px
    );
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    background-image: linear-gradient(
      to bottom,
      var(--primary-text-color) 340px,
      var(--text-color-theme-dark) 129px
    );
  }

  @media screen and (min-width: 1680px) {
    position: relative;
    background-image: linear-gradient(
      to bottom,
      var(--primary-text-color) 560px,
      var(--text-color-theme-dark) 132px
    );
  }
}

.problems__background-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    display: none;
  }

  @media screen and (min-width: 1680px) {
    fill: var(--secondary-dark-text-color);
    position: absolute;
    right: 0px;
    bottom: 112px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;

  @media screen and (max-width: 767px) {
    width: 480px;
    padding-top: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    width: 768px;
    padding-top: 40px;
  }

  @media screen and (min-width: 1680px) {
    width: 1680;
    padding-top: 80px;
  }
}

.problems__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--text-color-theme-dark);

  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
    font-size: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    // max-width: 568px;
    margin-bottom: 25px;
    font-size: 24px;
  }

  @media screen and (min-width: 1680px) {
    // max-width: 866px;
    margin-bottom: 80px;
    margin-top: 80px;
    font-size: 46px;
  }
}

.problems__title-accent {
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1680px) {
    font-size: 46px;
  }
}

.problems-container {
  background-color: var(--text-color-theme-dark);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @media screen and (max-width: 767px) {
    min-height: 499px;
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    min-height: 300px;
  }

  @media screen and (min-width: 1680px) {
    position: relative;
    min-height: 353px;
  }
}

.problems__list {
  list-style: none;
  counter-reset: item-counter;

  @media screen and (max-width: 767px) {
    padding: 20px 12px 24px 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    padding: 32px 80px;
    display: grid;
    grid-template-columns: 236px 213px;
    grid-column-gap: 20px;
  }

  @media screen and (min-width: 1680px) {
    padding: 60px 140px;
    display: grid;
    grid-template-columns: 336px 336px 336px;
    grid-column-gap: 85px;
  }
}

.problems__item {
  font-weight: 700;
  letter-spacing: 0.08em;

  color: var(--primary-text-color);

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.43;
  }

  @media screen and (min-width: 768px) and (max-width: 1679px) {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 1.43;
  }

  @media screen and (min-width: 1680px) {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.4;
  }

  &::before {
    color: var(--accent-color);
    counter-increment: item-counter;
    white-space: pre;
    content: '0' counter(item-counter) '\0a';
  }
}
