<section class="section-contacts" id="contacts">
  <div class="container">
    <h3 class="contacts__title">
      Registration for a <span class="contacts__title-wordcolor">free</span> phone
      <span class="contacts__title-wordcolor">consultation</span> on the nuances of English UPE
    </h3>
    <form>
      <p class="contacts-form__title">
        Leave a request for participation in a
        <span class="contacts__title-wordcolor">free lesson</span>.<br />A consultant will contact
        you and answer your questions
      </p>
      <input
        class="contacts-form__input contacts-form__inputname"
        type="text"
        minlength="3"
        name="name"
        title="Name must contain min three letters"
        placeholder="Name*"
        required
      />

      <input
        class="contacts-form__input contacts-form__inputtel"
        type="tel"
        pattern="[\+]\d{3}[0-9]{3}[0-9]{3}[0-9]{3}"
        title="Input +380xxxxxxxxx"
        name="phone-number"
        placeholder="Phone*"
        required
      />

      <button class="contacts-form__button" type="submit">i want a free lesson</button>
    </form>
  </div>
</section>
