<footer class="footer ">

    <div class="fotter__whiteblock container">
        <a class=" link footer__logo" href="">
            <svg class="footer__svg-logo" width="80" height="29">
                <use href="./images/symbol-defs.svg#icon-logo-black"></use> 
            </svg>
        </a>

        <a class=" link footer__phone" href="tel:+380000000000">
            <svg class="footer__svg-phone" width="20" height="19">
                <use href="./images/symbol-defs.svg#icon-footer-tel"></use>
            </svg>
            +38 (000) 000 00 00
        </a>

        <a class=" link footer__social-link" href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" >
            
                <svg class="footer__svg-instagram" width="40" height="40">
                    <radialgradient id="rg" r="1.4" cx="0" cy="1">
                        <stop stop-color="#FAE100" offset="0%" />
                        <stop stop-color="#FADC04" offset="5.44%" />
                        <stop stop-color="#FBCE0E" offset="11.67%" />
                        <stop stop-color="#FCB720" offset="18.29%" />
                        <stop stop-color="#FE9838" offset="25.14%" />
                        <stop stop-color="#FF7950" offset="30.54%" />
                        <stop stop-color="#FF1C74" offset="49.22%" />
                        <stop stop-color="#6C1CD1" offset="100%" />
                    </radialgradient>
                    <use href="../src/images/symbol-defs.svg#icon-svgtest26">
                    </use> 
                </svg>
                <svg class="footer__svg-instagram-icon" width="25" height="25">
                    <use href="../src/images/symbol-defs.svg#icon-instagramfill">
                    </use> 
                </svg>
        </a>
    </div>
    

    <div class="footer__copyright container" >
        <p class="footer__text-copyright"> &#64; All rights reserved, 2022</p>
    </div>

</footer>
