    <section class="hero">
        <div class="container">
            
            <div class="hero__morph"></div>

            <div class="hero__thumb">
            <div class="hero__info">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__guarantee">
                <span class="hero__span">It won't be easy.</span> <br>
                But you're guaranteed to get <br>
                <span class="hero__points">+25 points</span>
            </p>
    
            <a href="#" class="hero__btn">I want a free lesson</a>
            </div>
    
            <div class="hero__image"></div>
            </div>
    
            <ul class="hero__list list">
                <li class="hero__list-link">
                    <svg width="60px" height="60px" class="hero__list-icon">
                        <use href="./images/symbol-defs-min.svg#icon-hero-human"></use>
                    </svg>
                    <p class="hero__list-text">Adapted author's UPE program</p>
                </li>

                <li class="hero__list-link">
                    <svg width="60px" height="60px" class="hero__list-icon">
                        <use href="./images/symbol-defs-min.svg#icon-hero-mobile"></use>
                    </svg>
                    <p class="hero__list-text">Modern teaching methods</p>
                </li>

                <li class="hero__list-link">
                    <svg width="60px" height="60px" class="hero__list-icon">
                        <use href="./images/symbol-defs-min.svg#icon-hero-finances"></use>
                    </svg>
                    <p class="hero__list-text">Financial guarantee the result</p>
                </li>
            </ul>

        </div>
    </section>




