    <section class="hero">
        <div class="container">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__info">
                <span class="hero__span">It won't be easy.</span> <br>
                But you're guaranteed to get <span class="hero__points">+25 points</span>
            </p>
    
            <a href="#" class="hero__btn">I want a free lesson</a>
    
            <div class="hero__image"></div>
    
            <ul class="hero__list list">
                <li class="hero__list-link">Adapted author's UPE program</li>
                <li class="hero__list-link">Modern teaching methods</li>
                <li class="hero__list-link">Financial guarantee the result</li>
            </ul>

        </div>
    </section>




