    <section id="hero" class="hero-section">
        <div class="container hero-container">
            <div class="hero__info">
            <h1 class="hero__title">Complex preparation for English UPE</h1>
            <p class="hero__guarantee">
                <span class="hero__span">It won't be easy.</span>
                But you're guaranteed to get
                <span class="hero__points">+25 points</span>
            </p>
    
            <a href="#contacts" class="hero__btn">I want a free lesson</a>
            </div>

            <picture class="hero__image">
                <source srcset="./images/hero.webp 1x, ./images/hero@2x.webp 2x" media="min-width: 1200px"
                    type="image/webp">
                <source srcset="./images/hero.png 1x, ./images/hero@2x.png 2x" media="min-width: 1200px">
                <source srcset="./images/hero_tablet.webp 1x, ./images/hero@2x.webp 2x" media="min-width: 768px"
                    type="image/webp">
                <source srcset="./images/hero_tablet.png 1x, ./images/hero_tablet@2x.png 2x" media="min-width: 768px">
                <source srcset="./images/hero_mobile.webp 1x, ./images/hero_mobile@2x.webp 2x" media="max-width: 767px"
                    type="image/webp">
                <source srcset="./images/hero_mobile.png 1x, ./images/hero_mobile@2x.png 2x" media="max-width: 767px">
                <img src="./images/hero.png" alt="Teacher's photo" width="208" height="178" class="hero__image--non-animated">
            </picture>
            
            <picture class="hero-picture">
                <source srcset="./images/hero_1.webp 1x, ./images/hero_1@2x.webp 2x" media="(min-width: 1680px)"
                    type="image/webp">
                <source srcset="./images/hero_1.png 1x, ./images/hero_1@2x.png 2x" media="(min-width: 1680px)">
                <source srcset="./images/hero_1_tablet.webp 1x, ./images/hero@2x.webp 2x" media="(min-width: 768px)"
                    type="image/webp">
                <source srcset="./images/hero_1_tablet.png 1x, ./images/hero_1_tablet@2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/hero_1_mobile.webp 1x, ./images/hero_1_mobile@2x.webp 2x" media="(max-width: 767px)"
                    type="image/webp">
                <source srcset="./images/hero_1_mobile.png 1x, ./images/hero_1_mobile@2x.png 2x" media="(max-width: 767px)">
                <img src="./images/hero_1.png" alt="Teacher's photo" width="208" height="178" class="hero__image--transparent">
            </picture>

            <picture  class="hero-picture">
                <source srcset="./images/hero_2.webp 1x, ./images/hero_2@2x.webp 2x" media="(min-width: 1680px)"
                    type="image/webp">
                <source srcset="./images/hero_2.png 1x, ./images/hero_2@2x.png 2x" media="(min-width: 1680px)">
                <source srcset="./images/hero_2_tablet.webp 1x, ./images/hero@2x.webp 2x" media="(min-width: 768px)"
                    type="image/webp">
                <source srcset="./images/hero_2_tablet.png 1x, ./images/hero_2_tablet@2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/hero_2_mobile.webp 1x, ./images/hero_2_mobile@2x.webp 2x" media="(max-width: 767px)"
                    type="image/webp">
                <source srcset="./images/hero_2_mobile.png 1x, ./images/hero_2_mobile@2x.png 2x" media="(max-width: 767px)">
                <img src="./images/hero_2.png" alt="Teacher's photo" width="178" height="178" class="hero__image--animated">
            </picture>

        </div>
        
    </section>




