<section class="program" id="program">
    <div class="container">
      <h2 class="program__title">Our program</h2>
      <ul class="program__list list">
        <li class="program__item">
          <h3 class="program__title--semester">1 SEMESTR</h3>
          <ul class="program__gramvocab list">
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Grammar</h4>
              <p class="program__text">Nouns & Articles Adjectives & Adverb</p>
            </li>
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Vocabulary</h4>
              <p class="program__text">Family & Relations People & Society</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__title--semester">2 SEMESTR</h3>
          <ul class="program__gramvocab list">
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Grammar</h4>
              <p class="program__text">Pronouns Active Voice Passive Voice</p>
            </li>
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Vocabulary</h4>
              <p class="program__text">Home School Work</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__title--semester">3 SEMESTR</h3>
          <ul class="program__gramvocab list">
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Grammar</h4>
              <p class="program__text">Modal verbs Infinitive Gerund Participle: 1, 2</p>
            </li>
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Vocabulary</h4>
              <p class="program__text">Travel & TourismCulture & Free Time Sport</p>
            </li>
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Writing</h4>
              <p class="program__text">Informal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__title--semester">4 SEMESTR</h3>
          <ul class="program__gramvocab list">
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Grammar</h4>
              <p class="program__text">
                Clauses: Conditional and WishesDirect / Reported speech Prepositi on Con junction
                Numeral
              </p>
            </li>
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Vocabulary</h4>
              <p class="program__text">Healthy LivingNature & Environment Money</p>
            </li>
            <li class="program__item--lesson">
              <h4 class="program__title--plan">Writing</h4>
              <p class="program__text">Formal Letter</p>
            </li>
          </ul>
        </li>
        <li class="program__item">
          <h3 class="program__title--semester last">5 SEMESTER</h3>
          <p class="program__text">RevisionTests</p>
        </li>
      </ul>
      <!-- <picture>
        <source srcset="./images/mainpic_desktop_webp.webp 1x, ./images/mainpic_desktop2x_webp.webp 2x"
          media="(min-width: 1680px)" type="image/webp"
        />
       <source srcset="./images/mainpic_desktop.jpg 1x, ./images/mainpic_desktop2x.jpg 2x"
         media="(min-width: 1680px)" type="image/jpeg" 
        />
       <source srcset="./images/mainpic_tablet_webp.webp 1x, ./images/mainpic_tablet2x_webp.webp 2x"
         media="(min-width: 768px)" type="image/webp"
        />
       <source srcset="./images/mainpic_tablet.jpg 1x, ./images/mainpic_tablet2x.jpg 2x"
         media="(min-width: 768px)" type="image/jpeg"
        />
       <source srcset="./images/mainpic_mobile_webp.webp 1x, ./images/mainpic_mobile2x_webp.webp 2x"
         media="(max-width: 767px)" type="image/webp"
        />
       <source srcset="./images/mainpic_mobile.jpg 1x, ./images/mainpic_mobile2x.jpg 2x"
         media="(max-width: 767px)" type="image/jpeg"
        />
       <img src="./images/mainpic_desktop.jpg" alt="" />
      </picture> -->
    </div>
  </section>